.search-container{
    height: 100%;
    width: 100%;
}

.search-bar-style{
    border: white;
    background: white;
    outline-color: none;
    font-size: 36px;
    color: #1C1B20;
    height: 65px;
    padding-left: 3%;
    padding-right: 3%;
    width: 94%;
}

.search-list{
    background-color: green;
    overflow: scroll;
    max-height: 500px;
    visibility: hidden;
}

.form-style{
    width: 468px;
    margin-right: auto;
    margin-left: auto;
}